name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  zip-n-push:
    name: Zip and Push
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Zip repository
        run: |
          ls -l
          file="FS25_EnhancedVehicle"
          extension=".zip"
          target="$file$extension"
          if [ -f "$target" ]; then
            rm -f "$target"
          fi
          zip -r "$target"  -x "./.git/*" "./.github/*" "./misc/*"
