name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  zip-n-push:
    name: Zip and Push
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          persist-credentials: true
          fetch-depth: 0

      - name: Update version
        run: |
          sed -i -r "s/<version>([^_]+)[^<]*<\/version>/<version>\1_$(date +%Y%m%d%H%M%S)<\version>/gm" modDesc.xml

      - name: Zip repository
        run: |
          file="FS25_EnhancedVehicle"
          extension=".zip"
          target="$file$extension"
          if [ -f "$target" ]; then
            rm -f "$target"
          fi
          zip -r "$target" . -x "./.git/*" "./.github/*" "./misc/*"

      - name: Configure git for push
        run: |
          git config user.name "armata4"
          git config user.email "armata4@users.noreply.github.com"

      - name: Commit and push zip
        run: |
          git add FS25_EnhancedVehicle.zip
          git commit -m "Add FS25_EnhancedVehicle.zip [skip ci]" || echo "No changes to commit"
          git push origin HEAD:main
