# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  zip-n-push:
    name: Zip and Push
    runs-on: ubuntu-latest
    steps:
      - name: Zip Folder
        run: |
          file = "FS25_EnhancedVehicle"
          extension = ".zip"
          if [ -f "$file"+"$extension" ] ; then
            rm -rf "$file"+"$extension"
          fi
          zip -r "$file"+"$extension" FS25_EnhancedVehicle -x ".git/*" ".github/*" "misc/*"
